body 
{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.login 
{
    text-align: center;
    width: 550px;
    box-sizing: border-box;
    padding: 40px;
    background: #ffffff;
}
.login h2 
{
    margin: 0 0 20px;
    padding: 0;
    font-size: 40px;
    text-transform: uppercase;
}
.login .input-group 
{
    position: relative;
    width: 100%;
    margin-bottom: 25px;
}
.login .input-group input 
{
    height: 50px;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    font-size: 20px;
    outline: none;
    border: 1px solid #000;
}
.login .input-group span 
{
    position: absolute;
    top: 12px;
    left: 12px;
    padding: 0;
    transition: 0.5s;
    pointer-events: none;
    background: #ffffff;
    text-transform: uppercase;
}
.login .input-group input:focus ~ span,
.login .input-group input:valid ~ span 
{
    top: -12px;
    left: 12px;
    font-size: 12px;
    padding: 2px 4px;
}
.login .input-group input[type="submit"]
{
    background: gray;
    border: none;
    box-shadow: none;
    text-transform: uppercase;
    font-weight: 600;
}
.login .input-group input[type="submit"]:hover 
{
    background: lightcyan;
}
.login .a 
{
    color: #262626;
    text-decoration: none;
    display: block;
    text-align: left;
    color: #666;
}
.login a span
{
    color: #262626;
    font-weight: 600;
}
.login a span:hover 
{
    color: #222222;
}