
* {
    margin: 0;
    padding: 0;
    font-family: Century ;
}
body {
    background-size: cover;
}
section {
    width: auto;
    padding: 0px 30px 100px;
}
nav {
    width: 100%;
}
.navbar {
    position: fixed;
    top: 0;
    height: auto;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}
.bg-bluesky {
    background-color:#607d8b;
}
#btn {
    font-size: 19px;
    color: honeydew;
}
#nav-link::after {
    color:  #00004d;
    content: '';
    width: 0;
    height: 2px;
    background: yellow;
    display: block;
    margin: auto;
    transition: .5s;
}
#nav-link:hover::after {
    color: #e6e6ff;
    width: 100%;
}
#nav-link {
    transform: scale(1);
    transition: 0.5s;
    display: block;
}
#nav-link .hide-item {
    transform: scale(0);
}
/* */
.openBtn {
    background: none;
    border: none;
    padding: 10px 15px;
    font-size: 20px;
    cursor: pointer;
  }
  
  .openBtn:hover {
    background: none;
  }
  
  .overlay {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
  }
  
  .overlay-content {
    position: relative;
    top: 46%;
    width: 80%;
    text-align: center;
    margin-top: 30px;
    margin: auto;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    cursor: pointer;
    color: white;
  }

  .overlay .closebtn:hover {
    color: #ccc;
  }
  
  .overlay input[type=text] {
    padding: 15px;
    font-size: 17px;
    border: none;
    float: left;
    width: 80%;
    height: 7%;
    background: white;
  }
  
  .overlay input[type=text]:hover {
    background: #f1f1f1;
  }
  
  .overlay button {
    float: left;
    width: 10%;
    height: 7%;
    padding: 15px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }
  
  .overlay button:hover {
    background: #bbb;
  }
  /* */
.carousel-item {
    
    height: 100vh;
    min-height: 600px;
    background: no-repeat center scroll;
    -webkit-background-size: cover;
    background-size: cover;
}
.carousel-caption, .d-none, .d-md-block {
    
    margin-bottom: 150px;
}
.carousel-caption h5 {
    
    font-size: 65px;
    color: azure;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;
    font-family: center;
}
.carousel-caption p {

    width: 60%;
    margin: auto;
    color: azure;
    font-size: 32px;
    line-height: 1.9;
}
.carousel-caption p a {
    
    position: relative;
    text-transform: uppercase;
    background: blueviolet;
    padding: 10px 30px;
    display: inline-block;
    color: #ffff;
    margin-top: 25px;
    font-size: 18px;
    list-style: none;
    text-decoration: none;
    letter-spacing: 7px;
    box-shadow: 0 20px 50px rgba(0,0,0,0.5);
}
.carousel-caption p a:hover {
    background: #e91e63;
}
.carousel-caption p a::before {
    content: '';
    position: absolute;
    top: 8px;
    left: 8px;
    width: 100%;
    height: 100%;
    background: #ffff;
    z-index: -1;
    transition: transform 0.5s ease-in-out;
}
.carousel-caption p a:nth-child(1)::before {
    transform-origin: right;
    transform: scale(0);
}
.carousel-caption p a:hover:nth-child(1)::before {
    transform-origin: left;
    transform: scaleX(1);
}
#cards {
    width: auto;
    min-height: 600px;
    border: none;
    margin-top: 25px;
}
#card-img {
    border-radius: 0;
}
.card-img-overlay {
    padding-left: 33%;
    padding-top: 30%;
}
.card-img-overlay .card-title {
    position: relative;
    margin: auto;
    font-size: 6em;
    font-weight: 900;
    color: #009999;
    z-index: 1;
    overflow: hidden;
    text-align: center;
    padding-top: 25%;
    text-transform: uppercase;
}
  
.card-img-overlay .card-title .letter {
    display: inline-block;
    line-height: 1em;
  }
#card-img-overlay .card-title {
    font-size: 65px;
    color: azure;
    font-weight: bold;
    text-transform: uppercase;
}
.box {
    position: absolute;
}
#card-deck {
    width: auto;
    margin-top: 25px;
    border: none;
}
#card {
    width: auto;
    border: none;
}
#card-img-top {
    border-radius: 0;
}
#footer {
    width: auto;
    margin-top: 25px;
}
#card-deck #card:before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #000;
    transform: skew(2deg,2deg);
    z-index: -1;
}
#card-deck #card:nth-child(1):before {
    background: linear-gradient(315deg,#ff0057,#e64a19);
}
#card-deck #card:nth-child(2):before {
    background: linear-gradient(315deg,#ff0057,#e64a19);
}
#card-deck #card:nth-child(3):before {
    background: linear-gradient(315deg,#ff0057,#e64a19);
}
#card #card-body a{
    position: relative;
    margin: 20px 0 0;
    padding: 10px 20px;
    text-decoration: none;
    border: 1px solid black;
    display: inline-block;
    color: black;
    transition: 0.5s;
    transform: translateY(-40px);
    opacity: 0;
    visibility: hidden;
}
#card:hover #card-body a {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
}
#card #card-body a:hover {
    color: #000;
    background: blanchedalmond;
}
/* #myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  } */
  
#myBtn:hover {
    background-color: #555;
  }
::-moz-selection { /* Code for Firefox */
  color: red;
  background: yellow;
}

::selection {
  color: red;
  background: yellow;
}